p.frame-title {
  color: #555;
  font-size: 18px;
  margin: 0;
}

.csmm-menu {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.csmm-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  row-gap: 1em;
  /* margin: 0 1.8em 0 1.8em; */
}

.csmm-container {
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #c5c5c5;
}
