.cstmList-menu {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.cstmList-body {
  display: grid;
  row-gap: 1em;
  /* margin: 0 1.8em 0 1.8em; */
}

.cstmList-container {
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #c5c5c5;
}
